@model CarDealerShip.UI.ViewModel.AddSpecialViewModel

@{
    ViewBag.Title = "Specials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Specials</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AddSpecialViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="container">
    @foreach (var special in Model.Specials)
    {
        <div class="row bordered-row">

            <div class="col-1"><i class="fas fa-car"></i></div>
            <div class="col-11">
                <div class="row">
                    <div class="col-11">@special.Title</div>
                    <div class="col-1">
                        <a href="@Url.Action("DeleteSpecial", new { id = special.Id})" class="btn btn-danger deleteSpecial">Delete</a>
                    </div>
                </div>
                <div class="row">@special.Description</div>

            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.deleteSpecial').on('click', function (ev) {
            var result = window.confirm('Are you sure?');
            if (result == false) {
                ev.preventDefault();
            };
        });
    });
</script>