@model VideoGameBlog.UI.Models.PostVM

@{
    ViewBag.Title = "CreatePost";
}

<div class="row">
    <div class="col-md-12">
        <h2>Create Post</h2><br />
        @using (Html.BeginForm("CreatePost", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Post Title: </label>
                @Html.TextBoxFor(m => m.PostTitle, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Post Body: </label>
                @Html.TextAreaFor(m => m.PostBody, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Category: </label>
                @Html.DropDownListFor(m => m.PostCategoryId, Model.AvailableCategories, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Tags: </label>
                @Html.TextBoxFor(m => m.PostTags, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Image: </label>
                <input type="file" name="upload">
                <button class="btn btn-primary">Save</button>
            </div>
        }
    </div>
</div>

